/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */

/* Schrijf hier  jouw CSS! */

/*Opdracht 2.1*/
.one {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

/*Opdracht 2.2*/
.two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*Opdracht 2.3 */
ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding-left: 25px;
    gap: 50px;
}
.three {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*Opdracht 2.4*/
.login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*Opdracht 2.5*/

.flexbox-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    box-sizing: border-box;
}

.flexbox-container > * {
    flex-wrap: wrap;
    padding: 20px;
    flex: 1 1 30%;
}